---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <header class="mb-6">
    <h1 class="mb-6 text-4xl font-serif font-bold fg-emphasis">
      <div>Revisions</div>
      <div>Corn flow to notes</div>
    </h1>
    <div class="leading-loose text-emphasis">
      <div>
        <span>Testing with some interesting projects.</span>
      </div>
    </div>
  </header>

  <!-- <hr class="hr-line" /> -->
</BaseLayout>
